{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <div class = "mb-3">
        <h1>Tasks</h1>
    </div>
    <div class = "mb-3">
        <form action = "/task" method = "POST">
            <div class = "mb-3">
                <input autocomplete = "off" autofocus class = "form-control mx-auto w-auto" name = "task" placeholder = "Task title" type = "text">
            </div>
            <div class = "mb-3">
                <input autocomplete = "off" class = "form-control mx-auto w-auto" name = "description" placeholder = "Task description" type = "text">
            </div>
            
            <div class = "mb-3">
                <input autocomplete = "off" class = "form-control mx-auto w-auto" name = "deadline" placeholder = "Deadline" type = "date">
            <div class = "mb-3">
                <button class = "btn btn-primary" type = "submit">Add</button>
            </div>
        </form>
    </div>
{% endblock %}