{% extends "layout.html" %}

{% block title %}
    Edit Tasks
{% endblock %}

{% block main %}
    <div class = "mb-3">
        <h1>Edit Tasks</h1>
    </div>
    <div class = "mb-3">
        <form action = "/editTask" method = "POST">
            {% for t in tasks %}
                <div class = "mb-3">
                    <select class = "form-select" name = "task" placeholder = "Task" style = "width: 24vw; margin: 0 auto;">
                        <option value = "" selected>Task</option>
                        {% for task in tasks %}
                            <option value = "{{ task.id }}">{{ task["title"] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class = "mb-3">
                    <input autocomplete = "off" autofocus class = "form-control mx-auto w-auto" name = "title" placeholder = "Title" type = "text">
                </div>
                <div class = "mb-3">
                    <textarea class = "form-control mx-auto w-auto" rows = "4" cols = "50" name = "description" placeholder = "Description"></textarea>
                </div>
                <div class = "mb-3">
                    <div class = "mb-3">
                        <h2>Starting Date</h2>
                    </div>
                    <div class = "form-group">
                        <div class = "container" style = "width: 24vw; margin: 0 auto;">
                            <div class = "row">
                                <div class = "col-sm">
                                    <select class = "form-select" name = "day1" placeholder = "Day" style = "width: 6vw; margin: 0 auto;">
                                        <option value="" selected>Day</option>
                                        {% for i in range(1, 32) %}
                                            {% if i == t["day1"] %}
                                                <option value = "{{ i }}" selected>{{ i }}</option>
                                            {% else %}
                                                <option value = "{{ i }}">{{ i }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class = "col-sm">
                                    <select class = "form-select" name = "month1" placeholder = "Month" style = "width: 6vw; margin: 0 auto;">
                                        <option value = "" selected>Month</option>
                                        {% for i in range(1, 13) %}
                                            {% if i == t["month1"] %}
                                                <option value = "{{ i }}" selected>{{ i }}</option>
                                            {% else %}
                                                <option value = "{{ i }}">{{ i }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class = "col-sm">
                                    <select class = "form-select" name = "year1" placeholder = "Year" style = "width: 6vw; margin: 0 auto;">
                                        <option value = "" selected>Year</option>
                                        {% for i in range(2023, 1900, -1) %}
                                            {% if i == t["year1"] %}
                                                <option value = "{{ i }}" selected>{{ i }}</option>
                                            {% else %}
                                                <option value = "{{ i }}">{{ i }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "mb-3">
                    <div class = "mb-3">
                        <h2>Ending Date</h2>
                    </div>
                    <div class = "form-group">
                        <div class = "container" style = "width: 24vw; margin: 0 auto;">
                            <div class = "row">
                                <div class = "col-sm">
                                    <select class = "form-select" name = "day2" placeholder = "Day" style = "width: 6vw; margin: 0 auto;">
                                        <option value = "" selected>Day</option>
                                        {% for i in range(1, 32) %}
                                            {% if i == t["day2"] %}
                                                <option value = "{{ i }}" selected>{{ i }}</option>
                                            {% else %}
                                                <option value = "{{ i }}">{{ i }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class = "col-sm">
                                    <select class = "form-select" name = "month2" placeholder = "Month" style = "width: 6vw; margin: 0 auto;">
                                        <option value = "" selected>Month</option>
                                        {% for i in range(1, 13) %}
                                            {% if i == t["month2"] %}
                                                <option value = "{{ i }}" selected>{{ i }}</option>
                                            {% else %}
                                                <option value = "{{ i }}">{{ i }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class = "col-sm">
                                    <select class = "form-select" name = "year2" placeholder = "Year" style = "width: 6vw; margin: 0 auto;">
                                        <option value = "" selected>Year</option>
                                        {% for i in range(2023, 1900, -1) %}
                                            {% if i == t["year2"] %}
                                                <option value = "{{ i }}" selected>{{ i }}</option>
                                            {% else %}
                                                <option value = "{{ i }}">{{ i }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "mb-3">
                    <button class = "btn btn-primary" type = "submit"><i class = "fa-regular fa-floppy-disk"></i>   Save</button>
                </div>
            {% endfor %}
        </form>
    </div>
{% endblock %}