{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <div class = "mb-3">
        <h1>Tasks</h1>
    </div>
    <div class = "mb-3">
        {% if tasks %}
        <table class = "table table-stripped" style = "width: 50vw; margin: 0 auto;">
            <thead>
                <th scope = "col"><i class = "fa-regular fa-trash-can"></i></th>
                <th scope = "col">Title</th>
                <th scope = "col">Created on</th>
                <th scope = "col">Start date</th>
                <th scope = "col">End date</th>
                <th scope = "col">Description</th>
                <th scope = "col">Status</th>
            </thead>
            <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td><input class = "form-check-input" id = "{{ task['name'] }}" type = "checkbox" name = "check" value = "{{task['id']}}"></td>
                            <td><label for = "{{ task['name'] }}">{{task['title']}}</label></td>
                            <td>{{task['dateCreation']}}</td>
                            <td>{{task['dateStart']}}</td>
                            <td>{{task['dateEnd']}}</td>
                            <td>{{task['description']}}</td>
                            <td>{{task['status']}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        {% else %}
        <table class = "table table-stripped" style = "width: 50vw; margin: 0 auto;">
            <thead>
                <th scope = "col"><i class = "fa-regular fa-trash-can"></i></th>
                <th scope = "col">Title</th>
                <th scope = "col">Created on</th>
                <th scope = "col">Start date</th>
                <th scope = "col">End date</th>
                <th scope = "col">Description</th>
                <th scope = "col">Status</th>
            </thead>
            <tbody>
                <tr>
                    <td><input class = "form-check-input" disabled id = "flexCheckDisabled" type = "checkbox" name = "check" value = "None"></td>
                    <td><label for = "flexCheckDisabled"> -- </label></td>
                    <td><label for = "flexCheckDisabled"> -- </label></td>
                    <td><label for = "flexCheckDisabled"> -- </label></td>
                    <td><label for = "flexCheckDisabled"> -- </label></td>
                    <td><label for = "flexCheckDisabled"> -- </label></td>
                    <td><label for = "flexCheckDisabled"> -- </label></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class = "mb-3">
        <div class = "container" style = "width: 25vw; margin: 0 auto;">
            <div class = "row">
                <div class = "col-sm">
                    <a class = "btn btn-primary" href = "/addTask"><i class = "fa-solid fa-plus"></i>    Add task</a>
                </div>
                <div class = "col-sm">
                    <a class = "btn btn-primary" href = "/editTask"><i class = "fa-regular fa-pen-to-square"></i>   Edit task</a>
                </div>
                <div class="col-sm">
                    <a class = "btn btn-primary" href = "/deleteTask"><i class = "fa-regular fa-trash-can"></i> Delete task</a>
                </div>
            </div>
        </div>
{% endblock %}