{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class = "mb-3">
        <h1>Login</h1>
    </div>
    <form action = "/login" method = "POST">
        <div class = "mb-3">
            <input autocomplete = "off" autofocus class = "form-control mx-auto w-auto" name = "email" placeholder = "Email" type = "text">
        </div>
        <div class = "mb-3">
            <input autocomplete = "off" class = "form-control mx-auto w-auto" name = "password" placeholder = "Password" type = "password">
        </div>
        <div class = "mb-3">
            <button class = "btn btn-primary" type = "submit">Log In</button>
        </div>
    </form>
{% endblock %}