{% extends "layout.html" %}

{% block title %}
    Profile: {{p['username']}}
{% endblock %}

{% block main %}
    {% for p in profile %}
        <form action = "/profile" method = "POST">
            <div class = "container">
                <div class = "row">
                    <div class = "mb-3">
                        <div class = "mb-3" style = "margin: 0 auto; display: inline-block;">
                            <label for = "name">Name:</label>
                            <input autocomplete = "off" autofocus class = "form-control mw-auto w-auto" id = "name" name = "newName" type = "text">
                        </div>
                        <div class = "mb-3" style = "margin: 0 auto; display: inline-block;">
                            <label for = "email">Email:</label>
                            <input autocomplete = "off" autofocus class = "form-control mw-auto w-auto" id = "email" name = "newEmail" type = "text">
                        </div>
                        <div class = "mb-3" style = "margin: 0 auto; display: inline-block;">
                            <label for = "passwd">Password:</label>
                            <input autocomplete = "off" autofocus class = "form-control mw-auto w-auto" id = "passwd" name = "newPasswd" type = "text">
                        </div>
                        <div class = "mb-3" style = "margin: 0 auto; display: inline-block;">
                            <label for = "confPasswd">Confirm password:</label>
                            <input autocomplete = "off" autofocus class = "form-control mw-auto w-auto" id = "confPasswd" name = "newConfirmation" type = "text">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endfor %}
{% endblock %}