{% extends "layout.html" %}

{% block title %}
    {{user_name}}
{% endblock %}

{% block main %}
    <form action = "/profile" method = "POST">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-6">
                    <div class = "mb-3">
                        <label for = "name" class = "form-label">Name:</label>
                        <input autocomplete = "off" class = "form-control" id = "name" name = "newName" type = "text">
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class = "mb-3">
                        <label for = "email" class = "form-label">Email:</label>
                        <input autocomplete = "off" class = "form-control" id = "email" name = "newEmail" type = "text">
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-6">
                    <div class = "mb-3">
                        <label for = "passwd" class = "form-label">Password:</label>
                        <input autocomplete = "off" class = "form-control" id = "passwd" name = "newPasswd" type = "text">
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class = "mb-3">
                        <label for = "confPasswd" class = "form-label">Confirm password:</label>
                        <input autocomplete = "off" class = "form-control" id = "confPasswd" name = "newConfirmation" type = "text">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}