{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class = "mb-3">
        <h1>Register</h1>
    </div>
    <form action = "/register" method = "POST">
        <div class = "mb-3">
            <input autocomplete = "off" autofocus class = "form-control mx-auto w-auto" name = "name" placeholder = "Name" type = "text">
        </div>
        <div class = "mb-3">
            <input autocomplete = "off" autofocus class = "form-control mx-auto w-auto" name = "email" placeholder = "Email" type = "email">
        </div>
        <div class = "mb-3">
            <input autocomplete = "off" class = "form-control mx-auto w-auto" name = "birthDate" placeholder = "Date of birth (MM/DD/YYYY)" type = "text">
        </div>
        <div class = "mb-3">
            <input autocomplete = "off" class = "form-control mx-auto w-auto" name = "password" placeholder = "Password" type = "password">
        </div>
        <div class = "mb-3">
            <input autocomplete = "off" class = "form-control mx-auto w-auto" name = "confirmation" placeholder = "Confirm your password" type = "password">
        </div>
        <div class = "mb-3">
            <button class = "btn btn-primary" type = "submit">Register</button>
        </div>
    </form>
{% endblock %}